.sectionDetail {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.articleDetail {
  margin: 50px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  max-width: 500px;
  max-width: 600px;
  width: 500px;
  &__img {
    height: 250px;
    border: white;
    border-radius: 50%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    font-family: 'Gemunu Libre', sans-serif;
    color: #15ff00;
    font-size: x-large;
    line-height: 30px;
    justify-content: center;
  }
}
.characterNotFound {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gemunu Libre', sans-serif;
  &__strong {
    margin-bottom: 20px;
  }
  &__button {
    background-color: black;
    border: #15ff00 solid 1px;
    border-radius: 5px;
    color: #00afc7;
    font-family: 'Gemunu Libre', sans-serif;
  }
}
